<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <a class="post-stretched-link" href="{{ url_for('.post', id=post.id) }}" aria-label="View post"></a>
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-meta">
                <div class="post-author"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></div>
                <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
            </div>
            <div class="post-body">
                {% if post.disabled %}
                <p><i>This post has been disabled by a moderator.</i></p>
                {% endif %}
                {% if not post.disabled or current_user.can(Permission.MODERATE) %}
                    {% if post.body_html %}
                        {{ post.body_html | safe }}
                    {% else %}
                        {{ post.body }}
                    {% endif %}
                {% endif %}
            </div>
            <div class="post-footer">
                {% if current_user == post.author %}
                <a class="post-action" href="{{ url_for('.edit', id=post.id) }}">Edit</a>
                {% elif current_user.is_authenticated and current_user.can(Permission.MODERATE) %}
                    {% if post.disabled %}
                    <a class="post-action" href="{{ url_for('.moderate_post_enable', id=post.id) }}">Enable</a>
                    {% else %}
                    <a class="post-action post-action-danger" href="{{ url_for('.moderate_post_disable', id=post.id) }}">Disable</a>
                    {% endif %}
                {% endif %}
                <a class="post-action" href="{{ url_for('.post', id=post.id) }}">Permalink</a>
                <a class="post-action" href="{{ url_for('.post', id=post.id) }}#comments">{{ post.comments.count() }} Comments</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>